# Server configurations
SERVER_PORT=8080

# AI Provider default settings (Options: ollama, gemini, googletranslate, openapi)
AI_PROVIDER=ollama

# Ollama Endpoint Configuration
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=gemma2:2b

# Gemini API Configuration
GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash

# Google Translate Configuration
GOOGLE_TRANSLATE_API_KEY=

# OpenAPI Configuration (OpenAI or compatible endpoints like local, Groq, OpenRouter etc.)
OPENAPI_URL=https://api.openai.com/v1
OPENAPI_API_KEY=
OPENAPI_MODEL=gpt-4o-mini
